header {
    text-align: left;
}

button {
    cursor: pointer;
    color:white;
    background-color: purple;
}

.carousel {
    text-align: center;
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0;
}

.carousel-container {
    background: green;
    height: 100%;
    position: relative;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: all 3s;
}

.carousel-items {
    position: absolute;
    top: 15%;
    bottom: 0; 
    width: 100%;
    display: none;
}

.active {
    display:block;

}
